.stApp {
    background-color: #030712;

    background-image:
        radial-gradient(circle at 20% 20%, rgba(0,255,255,0.15), transparent 25%),
        radial-gradient(circle at 80% 30%, rgba(0,150,255,0.12), transparent 25%),
        radial-gradient(circle at 50% 80%, rgba(0,255,200,0.10), transparent 25%);

    color: white;
}

/* MENSAGENS */

.stChatMessage {
    background: rgba(255,255,255,0.04);

    border: 1px solid rgba(0,255,255,0.15);

    border-radius: 20px;

    backdrop-filter: blur(20px);

    padding: 12px;

    box-shadow: 0 0 15px rgba(0,255,255,0.05);

    animation: fadeIn 0.3s ease-in-out;
}

.stChatMessage:hover {
    border: 1px solid cyan;

    transition: 0.3s;
}

/* INPUT */

.stChatInput div[data-baseweb="textarea"] {
    border-color: transparent !important;
    box-shadow: none !important;
}

.stChatInput:focus-within > div {
    border-color: #007BFF !important;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3) !important;
}

.stChatInput button {
    background-color: #007BFF !important;
    color: white !important;
}

.stChatInput button:hover {
    background-color: #0056b3 !important;
}

/* TITULO */

h1 {
    text-shadow:
        0 0 5px rgba(0,255,255,0.5);
}

/* ANIMAÇÃO */

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}